{
  "extends": ["react-app", "plugin:jsx-a11y/recommended", "plugin:import/errors"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "no-undef": "error",
    "no-use-before-define": [0],
    "no-console": [0],
    "max-len": [0],
    "object-curly-newline": [0],
    "func-names": [0],
    "arrow-parens": ["error", "as-needed"],
    "semi": ["error", "always"],
    "react/prop-types": [0],
    "react/jsx-filename-extension": [0],
    "jsx-a11y/href-no-hash": [0],
    "jsx-a11y/label-has-for": ["error", { "required": { "some": ["nesting", "id"] } }],
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "jsx-a11y/no-autofocus": [0],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "curly": ["error", "all"],
    "import/order": ["warn", { "groups": ["builtin", "external", "parent", "sibling", "index"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  }
}
